<!DOCTYPE html>
<html lang="{{ site.lang | default: 'it' }}">
  {% include head.html %}

  <body class="flex flex-col min-h-screen">
    <!-- Animated background blobs -->
    <div class="bg-blobs">
      <div class="blob blob-1"></div>
      <div class="blob blob-2"></div>
      <div class="blob blob-3"></div>
      <div class="blob blob-4"></div>
      <div class="blob blob-5"></div>
    </div>

    {% include header.html %}

    <main class="flex-grow relative z-10">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
